body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    padding: 0px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.heading {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links, .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 24px;   
}


.hero-text {
    display: flex;
    justify-content: space-between;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}


img {
    width: 300px;
    height: auto;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}